# Development environment
VITE_API_URL=http://localhost:3000/api/v1

# Production environment (update when deploying)
VITE_API_URL_PROD=https://your-api-domain.com/api/v1

# Stripe public key
VITE_STRIPE_PUBLIC_KEY=pk_test_YOUR_STRIPE_PUBLIC_KEY
